@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 90%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
  }
  nextjs-portal {
    left: 152px !important;
    top: 44px !important;
  }
}

/* 타이포그래피 유틸리티 클래스 */
@layer utilities {
  .text-display-1 {
    @apply text-[60px] font-bold leading-tight;
  }

  .text-display-2 {
    @apply text-[44px] font-bold leading-tight;
  }

  .text-h1 {
    @apply text-[40px] font-bold leading-snug;
  }

  .text-h2 {
    @apply text-[32px] font-bold leading-snug;
  }

  .text-body-0 {
    @apply text-[24px] leading-normal;
  }

  .text-body-1 {
    @apply text-[19px] leading-normal;
  }

  .text-body-2 {
    @apply text-[17px] leading-normal;
  }

  .text-body-2-bold {
    @apply text-[17px] font-bold leading-normal;
  }
}
